.selector {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

.selector > * {
    margin: 0px 10px 0px 10px;
}

.selector-container {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
