.selector {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

.selector > * {
    margin: 0px 10px 0px 10px;
}

.selector-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25%;
    transform: translateY(-50%);
}
